<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links</title>
</head>
<body>
<h1>
    Links
    <form method="post" action="/userpage">
        <br>
        <input type=text id=link name=link>
        <input type=submit id=submitbutton>
        {% csrf_token %}
    </form>

    {% for link in links %}
        <form method="post" action="{{ link.hashLink }}">
            {{ link.originalLink }}

            <a href="{{ link.hashLink }}">{{ link.hashLink }}</a>
            {{ link.count }}
            <button type="submit">delete</button>
            <br>
            {% csrf_token %}
        </form>
    {% endfor %}

</h1>
</body>
</html>